@function logo-image-url($path) {
  @return url("../components/iman-styles-logo/assets/#{$path}");
}

.logo {
  float: left;
  margin-bottom: -25px;
  z-index: 1000;
  position: relative;
}

.logo__url {
  background-image: logo-image-url('logo.png');
  background-image: logo-image-url('logo.svg'), none;
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  height: 65px;
  overflow: hidden;
  text-indent: -9999px;
  width: 100px;
}